$content_mist: #710d30;
$content_mist_border: #710d30;
$content_mist_hover: #710d30;
$content_mist_highlight: #ede8d8;

$content_meta: #0B486B;
$content_meta_hover:#0B486B;

$content_emerald: #547035;
$content_emerald_hover: #547035;

$header_blue: #033355;
$content_mist: #3B8686;
$content_mist_alt: #0f6e6f;
$content_mist_border: #3B8686;
$content_mist_hover: #3B8686;
$content_mist_highlight: #ede8d8;
