/* line 2, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
#violetwrap {
  /*padding:40px 0px 40px 0px;*/
  background-color: #0B486B;
  background: url("../images/top-pitch.jpg");
  height: 750px;
  background-attachment: fixed;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 2px solid #0B486B; }

/* line 14, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
#spreadsheet-pitch {
  background-color: #2a3034; }

/* line 17, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
#bottom-signup {
  background-color: #ededed; }

/* line 20, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
.minor-mainmotto {
  font-size: 20px; }

/* line 23, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
.mainmotto {
  font-weight: bold;
  line-height: 30px;
  font-size: 30px; }

/* line 28, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
.product-pitch {
  height: 980px; }

/* line 32, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
#page_head_navbar {
  box-shadow: 0px 0px 3px #000; }

/* line 36, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
#signupbutton {
  padding: 8px 10px 2px 10px; }

/* line 40, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
.signupbutton .btn {
  display: block; }

/* line 44, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
.signupbutton .btn .i {
  vertical-align: baseline; }

/* line 48, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
.separator {
  height: 1px;
  font-size: 0px;
  line-height: 1px;
  background: #d2dadc;
  border-bottom: 1px solid #fcfcfc;
  margin: 10px 0px 10px 0px; }

/* line 57, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
.price h4, .price p, .price h3, .price h5, .price h2, .price h6 {
  margin: 0px; }

/* line 66, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
.price .pricewrap {
  background: #F5F5F5;
  padding: 10px;
  border: 1px solid #3671A1;
  margin-top: 10px; }
/* line 72, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
.price .featurewrap {
  background: white;
  padding: 20px;
  border: 1px solid #3671A1;
  margin-top: 10px; }
/* line 78, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
.price .name {
  font-size: 20px;
  text-align: center; }
/* line 82, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
.price .cost {
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  background-color: #490A3D;
  color: white;
  padding: 20px 0px;
  margin: 20px 0px 20px 0px;
  border-radius: 5px; }
  /* line 91, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
  .price .cost .subtext {
    font-size: 18px;
    margin-top: 10px; }
/* line 96, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
.price .for {
  color: #73A1C7;
  font-size: 16px;
  text-align: center; }
/* line 101, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
.price * {
  text-align: center; }
/* line 104, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
.price .feature {
  font-weight: normal;
  font-size: 14px;
  padding: 5px 0px;
  border-bottom: 1px dotted #DDD; }
/* line 110, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
.price .signupbutton {
  margin-top: 20px;
  padding: 5px 20px;
  font-size: 15px; }
  /* line 114, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
  .price .signupbutton .btn {
    font-size: 18px; }
/* line 118, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
.price .separator {
  margin: 5px 0px; }

/* line 123, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
.wideseparator {
  margin: 60px 0px; }

/* line 127, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
.boldprice .pricewrap {
  border: 3px solid #3671A1;
  background-color: white;
  -moz-box-shadow: 0px 0px 5px 2px #ccc;
  -webkit-box-shadow: 0px 0px 5px 2px #ccc;
  box-shadow: 0px 0px 5px 2px #ccc;
  margin-top: 0px; }
  /* line 136, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
  .boldprice .pricewrap .cost {
    background-color: green; }

/* line 142, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
#call-contact {
  margin: 50px 0px 5px 0px; }
  /* line 144, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
  #call-contact #unsure {
    border: 1px solid #e0bb3e;
    background: #fffcd7;
    margin: 0px 0px 20px 0px;
    padding: 10px 30px; }
    /* line 150, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
    #call-contact #unsure h5 span {
      color: brown;
      font-size: 16px; }

/* line 157, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
#pricingquestions {
  border: 1px solid #CCCCCC;
  background: #F5F5F5;
  padding: 20px;
  margin: 20px 0px 50px 0px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }
  /* line 159, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
  #pricingquestions .qwrap {
    margin-bottom: 15px; }
  /* line 163, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
  #pricingquestions h4 {
    margin: 0px; }
  /* line 167, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
  #pricingquestions h4.question {
    margin: 5px 0px; }
  /* line 170, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
  #pricingquestions h5.answer {
    font-weight: normal; }

/* line 184, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
.tourtitle, .pricetitle {
  text-align: center;
  font-size: 32px;
  margin: 30px 0px 10px 0px; }

/* line 190, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
.tourtitledesc, .pricetitledesc {
  margin: 0px 10% 30px 10%; }

/* line 194, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
.pricetitledesc {
  text-align: center;
  margin-bottom: 30px;
  font-size: 19px;
  line-height: 25px; }

/* line 200, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
.tourcustomer {
  width: 70px;
  height: 30px; }

/* line 205, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
.tourcustomerlist {
  display: none; }

/* line 209, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
.tourvideo {
  text-align: center;
  margin-bottom: 30px; }

/* line 214, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
.tourvideoimage {
  background: #EFEFEF;
  width: 750px;
  height: 416px; }

/* line 220, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
.tourcustom {
  width: 500px; }

/* line 225, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
.centeralign {
  text-align: center; }

/* line 229, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
.tourslide {
  margin-bottom: 30px; }

/* line 233, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
.tourslide .slidelist h5 {
  margin: 0px; }

/* line 237, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
.tourslide .slidelist i {
  margin-right: 10px; }

/* line 241, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
#pitchtext {
  color: #FFFFFF;
  text-align: center;
  margin-top: 40px;
  background-color: #033355;
  opacity: 0.85;
  padding: 8px;
  width: 300px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

/* line 254, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
#pitchtext h1 {
  margin-bottom: 18px;
  line-height: 25px; }

/* line 259, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
.sidemotto {
  margin-bottom: 0px;
  margin-top: 0px;
  line-height: 18px;
  font-weight: normal;
  font-size: 16px; }

/* line 272, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
.sideimagewrap {
  text-align: center; }

/* line 276, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
.seetrial {
  padding: 5px 10px; }

/* line 280, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
.seetrial h4, .seetrial h6 {
  margin: 0px; }

/* line 283, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
.plans {
  margin: 25px 0px 10px 0px; }

/* line 287, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
.seeplan h2, .seeplan h4 {
  color: white; }

/* line 292, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
.seetour h2 {
  color: #FFFFFF; }

/* line 297, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
.trial p {
  color: #FFFFFF;
  font-size: 12px; }

/* line 303, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
.onlyindia h5 {
  font-weight: normal; }

/* line 306, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
.exparas {
  margin: 40px 0px; }

/* line 309, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
.expara {
  padding: 2px 10px; }
  /* line 311, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
  .expara h4 {
    font-size: 20px; }

/* line 319, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
.expara h5 i {
  margin-right: 6px; }

/* line 323, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
.exparadesc p {
  text-align: justify;
  line-height: 18px;
  color: #222; }

/* line 328, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
.otherparts {
  height: 400px; }

/* line 332, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
.plans a {
  -webkit-box-shadow: 0px 0px 5px #000;
  -moz-box-shadow: 0px 0px 5px #000;
  box-shadow: 0px 0px 5px #000; }

/* line 338, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
.aboutstorytitle {
  text-align: left;
  font-size: 24px; }

/* line 343, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
#about-brand {
  text-shadow: 0 3px 0 rgba(0, 0, 0, 0.2);
  color: #F8CA00;
  font-size: 25px; }

/* line 348, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
.aboutstorydesc {
  text-align: justify; }

/* line 352, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
.developer {
  background: #490A3D;
  opacity: 0.9;
  padding: 5px 10px 5px;
  color: #FFF;
  margin-bottom: 150px; }
  /* line 358, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
  .developer h4 {
    padding: 4px;
    background-color: #E97F02;
    text-align: center; }
  /* line 363, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
  .developer p {
    text-align: justify; }

/* line 367, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
#teamphoto {
  margin: 25px; }
  /* line 369, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
  #teamphoto img {
    border: 4px solid #CC333F; }

/* line 374, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
#signupblock {
  text-align: center;
  padding-bottom: 20px; }

/* line 379, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
.zerbracross {
  background: transparent url("../images/zebra.png") repeat-x 0px 0px;
  font-size: 2px;
  height: 6px;
  margin: 20px 0px 0px 0px;
  padding: 0px; }

/* line 387, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
.maplocation {
  background: transparent url("../images/locationmap.jpg") no-repeat 50% 0px; }

/* line 391, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
#signup {
  padding: 6px 15px;
  margin-top: 4px; }

/* line 396, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
#pitchbottom {
  margin: 20px auto 40px auto; }

/* line 400, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
#spreadsheet-pitch-header {
  color: white;
  margin: 30px 0px 10px 0px; }
  /* line 403, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
  #spreadsheet-pitch-header h3 {
    color: white; }

/* line 408, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
.whitebordertop {
  border-top: 1px solid #555555; }

/* line 411, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
.hometourslide {
  color: white;
  margin: 40px 0px; }
  /* line 414, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
  .hometourslide img {
    padding: 5px;
    border: 1px solid #CCC;
    background-color: white; }
  /* line 419, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
  .hometourslide .sliddescription {
    padding-left: 20px; }

/* line 426, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
#pricetable-footer {
  margin: 20px 0px; }
  /* line 429, /mnt/code/weavelabs/newhirehq/newhirehq-site/source/stylesheets/static.css.scss */
  #pricetable-footer .featurewrap h4 {
    font-size: 20px;
    margin: 5px 0px 10px 0px; }
